Django>=4.2,<5.0
djangorestframework
django-cors-headers
djangorestframework-simplejwt
openai
pgvector
redis
numpy

pgvector
redis==5.0.8
numpy
hnswlib>=0.7.0,<0.8.0
google-genai

whitenoise
daphne
channels==4.1.0
channels-redis==4.1.0

psycopg2-binary
django-redis
requests
pandas

celery 
scikit-surprise
tiktoken

pydantic
tenacity