Django>=4.2,<5.0
djangorestframework
django-cors-headers
djangorestframework-simplejwt
openai
pgvector
redis
numpy
hnswlib

whitenoise
daphne
channels-redis

psycopg2-binary
django-redis
requests
pandas

celery 
redis